<style>
.container {
    width: 300px;
    /* height: 300px; */
    border: 1px solid gray;
    margin: 10px;
}
.header {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid gray;
    position: relative;
}
.header div {
    width: 100%;
}
.selectors {
    text-align: center;
}
/* .weekRow {
    width: 100%;
    display: flex;
}
.dayCol {
    padding: 10px;
    width: 100%;
} */
td {
    text-align: center;
}
</style>
{{currentMonth}}
<div class="container">
    <div class="header">
        <div style="width: 20%">
            <button ng-click="previousMonth()">Left</button>
        </div>
        <div class="selectors">
            <select ng-model="currentMonth">
                <option value="{{month.no}}" ng-repeat="month in monthList track by $index">{{month.text}}</option>
            </select>
            <select ng-model="currentYear">
                <option ng-repeat="year in yearList track by $index">{{year}}</option>
            </select>
        </div>
        <div style="width: 20%">
                <button ng-click="nextMonth()">Right</button>
            </div>
    </div>

    <div class="body">

        <table border="1px" cellspacing="0" width="100%">
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            <tr ng-repeat="weak in dayList track by $index">
                <td ng-repeat="day in weak track by $index">{{ day.date }}</td>
            </tr>
        </table>
    </div>
</div>