<style>
    .mainContainer {
        position: relative;
        display: inline-block;
        /* background-color: lightblue; */
        user-select: none;
        /* width: 350px; */
        /* margin: 20px; */
    }

    .container {
        position: absolute;
        background-color: #fff;
        right: 0px;
        top: 50px;
        width: 315px;
        border: 1px solid #e2e2e2;
        /* margin-top: 10px; */
        border-radius: 5px;
        box-shadow: 2px 3px 10px 3px rgba(0, 0, 0, 0.3);
    }

    .header {
        display: flex;
        background-color: #e2e2e2;
        padding: 10px;
        border-bottom: 1px solid #e2e2e2;
        position: relative;

    }

    .header div {
        width: 100%;
    }

    .selectors {
        text-align: center;
    }

    td {
        text-align: center;
        padding: 5px 0px;
        width: 45px;
        border-radius: 4px;
    }

    /* td:hover {
    background-color: rgb(245, 254, 255);
} */
    th {
        padding: 3px 0px;
    }

    /* .input {
    width: 100%;
    padding: 10px;
} */
    .material-icons.left {
        transform: rotateY(180deg);
    }

    .material-icons.btn {
        cursor: pointer;
    }

    .selectors select {
        padding: 2px 0px;
        border-radius: 4px;
    }

    .holiday {
        color: red;
    }

    .picked {
        background-color: cadetblue;
    }
    .picked:hover {
        background-color: cadetblue!important;
    }

    .today {
        /* background-color: green; */
        border: 1px solid rgb(187, 187, 248);
        border-radius: 4px;
    }

    .pickBtn {
        font-size: 32px;
        vertical-align: middle;
    }
    .desabled {
        /* background-color: lightgray; */
        /* border-radius: 0px; */
        color: lightgray;
    }
    .valid:hover {
        background-color: lightcyan;
    }
</style>

<div class="mainContainer" ng-click="$event.stopPropagation()">

    <i class="material-icons btn pickBtn" style="font-size: {{config.iconSize}}px" ng-click="toggleVisible($event)">date_range</i>

    <div class="container" style="top: {{position.y}}px; right: {{position.x}}px" ng-show="visible">
        <div class="header">
            <div style="width: 12%; text-align: center">
                <i ng-click="previousMonth()" class="material-icons btn left">
                    play_circle_outline
                </i>
                <!-- <button ng-click="previousMonth()">Left</button> -->
            </div>
            <div class="selectors">
                <select ng-model="currentMonth">
                    <option value="{{month.no}}" ng-repeat="month in monthList track by $index">{{month.text}}</option>
                </select>
                <select ng-model="currentYear">
                    <option ng-repeat="year in yearList track by $index">{{year}}</option>
                </select>
            </div>
            <div style="width: 12%; text-align: center">
                <i ng-click="nextMonth()" class="material-icons btn">
                    play_circle_outline
                </i>
                <!-- <button ng-click="nextMonth()">Right</button> -->
            </div>
        </div>

        <div class="body">

            <table border="0" cellspacing="0" width="100%">
                <tr>
                    <th class="holiday">Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
                <tr ng-repeat="week in dayList track by $index">
                    <td ng-click="pickDate(dayList.indexOf(week), week.indexOf(day))" ng-repeat="day in week track by $index"
                        ng-class="{holiday : day.day == 'Sun', picked : day.fullDateString == userSelectedDate, today: day.fullDateString == todayString, desabled: !day.status, valid: day.status}">{{
                        day.date }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>